<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AngularJS • Gettext</title>
		<style>[ng-cloak] { display: none; }</style>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<style type="text/css">
		.content{
			margin-top: 10px
		}
		.number-input{
			width: 40px;
			display: inline-block;
		}
		</style>
	</head>
	<body ng-app="gettext-sample" ng-controller="AppController">
		<div class="container">
			<div class="col-sm-6 col-md-4 input-group col-md-offset-8 col-sm-offset-6 content">
	  			<span class="input-group-addon">Language</span>
				<select class="form-control" ng-model="languages.current" ng-options="key as value for (key, value) in languages.available"></select>
			</div>
			<button class="btn btn-primary pull-right content" ng-click="addSpanish()">Add Spanish</button>
		</div>
		<div ng-include="'./partial/basic.html'" class="content"></div>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
		<script src="js/app.js"></script>
		<script src="js/AppController.js"></script>
		<script src="js/BasicTransaltionsController.js"></script>
		<script src="js/translations.js"></script>
	</body>
</html>
